<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Desafio_MC2_Etapa_2</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <link rel="shortcut icon" href="resources/img/mortarboard.png">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        .scroll {
            height: 300px;
            max-width: 100%;
            overflow: scroll
        }
    </style>

    <link href="resources/css/grid.css" rel="stylesheet">
    <link href="resources/css/navbar-top-fixed.css" rel="stylesheet">
</head>

<body class="py-4">

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="../index.php">Desafio_MC2_Etapa_2</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" tabindex="-1" href="#">Home</a>
                </li>
                <!--
                <li class="nav-item">
                    <a class="nav-link" href="#" tabindex="-1">Editar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" tabindex="-1">Deletar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" tabindex="-1">Cadastrar</a>
                </li>
                -->
            </ul>
            <form class="d-flex">
                <!--<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">-->
                <button class="btn btn-outline-success" type="submit" id="btExit">Sair</button>
            </form>
        </div>
    </div>
</nav>

<main id="my_main">
    <div class="container">
        <h1>Quadro de matrículas</h1>
        <h3>Apenas para visualização.</h3>
        <div class="scroll">
        <table id="my_table">
            <thead>
            <tr>
                <th>codigo_disciplina</th>
                <th>nome_disciplina</th>
                <th>nome_professor</th>
                <th>numero_estudantes</th>
            </tr>
            </thead>
            <tbody id="my_tbody">
            <!--<tr>
                <td>1</td>
                <td>POO</td>
                <td>Lucas Sales</td>
                <td>3</td>
            </tr>-->
            </tbody>
        </table>
        </div>

        <br/>
        <br/>
        <br/>

        <hr class="my-4">

        <h1>Quadro de matrículas (detalhado)</h1>
        <h3>Apenas para visualização.</h3>
        <div class="scroll">
        <table id="my_table_detailed">
            <thead>
            <tr>
                <th>codigo_disciplina</th>
                <th>nome_disciplina</th>
                <th>nome_professor</th>
                <th>codigo_estudantes</th>
                <th>nome_estudantes</th>
            </tr>
            </thead>
            <tbody id="my_tbody_detailed">
            <!--<tr>
                <td>1</td>
                <td>POO</td>
                <td>Lucas Sales</td>
                <td>3</td>
            </tr>-->
            </tbody>
        </table>
        </div>

        <br/>
        <br/>
        <br/>

        <hr class="my-4">

        <h1>Quadro de disciplinas</h1>
        <h3>Editável.</h3>
        <div class="scroll">
        <table id="my_table_disc">
            <thead>
            <tr>
                <th>codigo_disciplina</th>
                <th>nome_disciplina</th>
                <th>codigo_professor</th>
            </tr>
            </thead>
            <tbody id="my_tbody_disc">
            <!--<tr>
                <td>1</td>
                <td>POO</td>
                <td>Lucas Sales</td>
                <td>3</td>
            </tr>-->
            </tbody>
        </table>
        </div>
        <br/>
        <div id="edit_fields">
            <input type="text" class="form-control" id="name_disc" placeholder="Novo nome da disciplina">
            <br/>
            <input type="text" class="form-control" id="code_prof_disc" placeholder="Código do professor">
            <br/>
            <button name="btSave" id="btUpdateDisc" class="w-100 btn btn-lg btn-primary">Atualizar</button>
            <br/>
            <br/>
            <button name="btSave" id="btAddDisc" class="w-100 btn btn-lg btn-primary">Adicionar</button>
            <br/>
            <br/>
            <button name="btSave" id="btDeleteDisc" class="w-100 btn btn-lg btn-primary">Deletar</button>
        </div>

        <br/>
        <br/>
        <br/>

        <hr class="my-4">

        <h1>Quadro de professores</h1>
        <h3>Editável.</h3>
        <div class="scroll">
            <table id="my_table_prof">
                <thead>
                <tr>
                    <th>codigo</th>
                    <th>nome</th>
                    <th>CPF</th>
                    <th>data_nascimento</th>
                </tr>
                </thead>
                <tbody id="my_tbody_prof">
                <!--<tr>
                    <td>1</td>
                    <td>POO</td>
                    <td>Lucas Sales</td>
                    <td>3</td>
                </tr>-->
                </tbody>
            </table>
        </div>
        <br/>
        <div id="edit_fields_prof">
            <input type="text" class="form-control" id="name_prof" placeholder="Novo nome">
            <br/>
            <input type="text" class="form-control" id="cpf_prof" placeholder="Novo CPF">
            <br/>
            <input type="text" class="form-control" id="date_prof" placeholder="Nova data de nascimento">
            <br/>
            <button name="btSave" id="btUpdateProf" class="w-100 btn btn-lg btn-primary">Atualizar</button>
            <br/>
            <br/>
            <button name="btSave" id="btAddProf" class="w-100 btn btn-lg btn-primary">Adicionar</button>
            <br/>
            <br/>
            <button name="btSave" id="btDeleteProf" class="w-100 btn btn-lg btn-primary">Deletar</button>
        </div>

        <br/>
        <br/>
        <br/>

        <hr class="my-4">

        <h1>Quadro de Estudantes</h1>
        <h3>Editável.</h3>
        <div class="scroll">
            <table id="my_table_est">
                <thead>
                <tr>
                    <th>codigo</th>
                    <th>nome</th>
                    <th>CPF</th>
                    <th>data_nascimento</th>
                </tr>
                </thead>
                <tbody id="my_tbody_est">
                <!--<tr>
                    <td>1</td>
                    <td>POO</td>
                    <td>Lucas Sales</td>
                    <td>3</td>
                </tr>-->
                </tbody>
            </table>
        </div>
        <br/>
        <div id="edit_fields_est">
            <input type="text" class="form-control" id="name_est" placeholder="Novo nome">
            <br/>
            <input type="text" class="form-control" id="cpf_est" placeholder="Novo CPF">
            <br/>
            <input type="text" class="form-control" id="date_est" placeholder="Nova data de nascimento">
            <br/>
            <button name="btSave" id="btUpdateEst" class="w-100 btn btn-lg btn-primary">Atualizar</button>
            <br/>
            <br/>
            <button name="btSave" id="btAddEst" class="w-100 btn btn-lg btn-primary">Adicionar</button>
            <br/>
            <br/>
            <button name="btSave" id="btDeleteEst" class="w-100 btn btn-lg btn-primary">Deletar</button>
        </div>
    </div>
</main>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="resources/js/home.js"></script>

</body>
</html>
